<form [formGroup]="thirdFormGroup">
  <div class="form-group custom-datepicker-dropdown custom-datepicker">
    <label for="exampleFormControlInput1">Birthday:</label>
    <input
      class="form-control digits"
      type="text"
      formControlName="birthdate"
    />
    <ng-container
      class="invalid"
      *ngIf="
        thirdFormGroup.get('birthdate')?.hasError('required') &&
        thirdFormGroup.get('birthdate')?.touched
      "
    >
      <small class="tx-danger">Birth Date is required</small>
    </ng-container>
  </div>
  <div class="form-group">
    <label>Age</label>
    <input
      class="form-control digits"
      placeholder="Age"
      type="text"
      formControlName="age"
    />
  </div>
  <div class="form-group">
    <label>Have Passport</label>
    <input
      class="form-control digits"
      placeholder="Yes/No"
      type="text"
      formControlName="hasPassport"
    />
    <ng-container
      class="invalid"
      *ngIf="
        thirdFormGroup.get('hasPassport')?.hasError('required') &&
        thirdFormGroup.get('hasPassport')?.touched
      "
    >
      <small class="tx-danger">Passport field is required</small>
    </ng-container>
  </div>
  <button
    class="btn btn-primary pull-right"
    type="button"
    awNextStep
    [disabled]="!thirdFormGroup.valid"
  >
    Next
  </button>
  <button
    class="btn btn-secondary pull-right mr-1"
    type="button"
    awPreviousStep
  >
    Previous
  </button>
</form>
